body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}
canvas {
    background-color: #000;
}
button, input {
    display: block;
    margin: 5px;
}
p, label {
    color: #fff;
    text-decoration: underline;
}

